<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.binder.dao.DocumentMapper">

<!--
	select bnd_document.document_no,bnd_document.document_content
	from bnd_document
	where bnd_document.member_id = 'jsh4646';
 -->
 	<select id="selectDocuments" parameterType="int" resultType="hashmap">
	 	select
		    bnd_document.document_no document_no
		    , bnd_document.document_content document_content
		    , to_char(bnd_document.document_regdate, 'yyyy-mm-dd') document_regdate
		    , bnd_document.document_destination document_destination
		    , bnd_photo.photo_savedfile photo_savedfile
		    , bnd_document.document_no document_no
		from
		    bnd_document, bnd_photo
		where
		    bnd_document.group_no = #{group_no}
		and
		    bnd_document.document_no = bnd_photo.document_no
	</select> 

 	<select id="selectCaution" parameterType="int" resultType="document">
	 	select
		    bnd_document.document_content
		from
		    bnd_document
		where
		    bnd_document.group_no = #{group_no}
		and
		    bnd_document.document_notice = 1
	</select> 
	
	<!-- readDocument.jsp로 글을 보내기 위해 실시. -->
	<select id="selectDocumentOne" parameterType="int" resultType="document">
	 	select
	 		bnd_document.document_no
		    , bnd_document.document_content
		    , bnd_document.member_id 							
		    , to_char(bnd_document.document_regdate, 'yyyy-mm-dd')  document_regdate
		    , to_char(bnd_document.document_finalday, 'yyyy-mm-dd') document_finalday
		    , bnd_document.document_destination 					
			, bnd_photo.photo_savedfile 							
		from
		    bnd_document, bnd_photo
		where
			bnd_document.document_no = #{document_no}
		and
		    bnd_document.document_no = bnd_photo.document_no
	</select> 

	<select id="selectDocumentsForCalendar" parameterType="int" resultType="hashmap">
	 	select
	 		(select '사나' from dual)									"username"
	 		, (select 'true' from dual)								"allDay"
		    , bnd_document.document_content 						"title"
		    , to_char(bnd_document.document_regdate, 'yyyy-mm-dd')  "start"
		    , to_char(bnd_document.document_finalday, 'yyyy-mm-dd') "end"
		    , bnd_document.document_content 					    "backgroundColor"
		    , bnd_document.document_content 					    "allDay"
		    , bnd_document.document_no								"document_no"								
		from
		    bnd_document, bnd_photo
		where
		    bnd_document.group_no = #{group_no}
		and
		    bnd_document.document_no = bnd_photo.document_no
	</select> 
	
	<!--  selectDocumentsForCalendar 최초버전. 나중에 확장성을 고려해서 일단 주석보관처리
		<select id="selectDocumentsForCalendar" parameterType="int" resultType="hashmap">
	 	select
		    bnd_document.document_no 								document_no
			, bnd_document.member_id								member_id
		    , bnd_document.document_content 						document_content
		    , to_char(bnd_document.document_regdate, 'yyyy-mm-dd')  document_regdate
		    , to_char(bnd_document.document_finalday, 'yyyy-mm-dd') document_finalday
		    , bnd_document.document_destination						document_destination
			, bnd_document.document_notice							document_notice
		    , bnd_photo.photo_savedfile 							photo_savedfile
		from
		    bnd_document, bnd_photo
		where
		    bnd_document.group_no = #{group_no}
		and
		    bnd_document.document_no = bnd_photo.document_no
	</select> 
	 -->
	
	<insert id="insertCaution" parameterType="document">
	insert into
	bnd_document(
		group_no
		,document_no
		,member_id
		,document_content
		,document_notice
		,document_destination
		) values
		(
		#{group_no}
		,bnd_document_no_seq.nextval
		,#{member_id}
		,#{document_content}
		,1
		,#{document_destination}
		)
	</insert>
	
	<delete id="deleteCaution" parameterType="int">
		delete from
		bnd_document
		where 
		bnd_document.group_no = #{group_no}
		and
		bnd_document.document_notice = 1
	</delete>


 	<select id="selectDocumentNoOne" parameterType="document" resultType="int">
	 	select
		    document_no
		from
		    bnd_document
		where
		    bnd_document.document_content = #{document_content}
	</select> 

	<update id="updateDocument" parameterType="document">
	update
		bnd_document
	set
		bnd_document.document_content=#{document_content}
		,bnd_document.document_regdate=#{document_regdate}
		,bnd_document.document_finalday=#{document_finalday}
		,bnd_document.document_destination=#{document_destination}
	where
		bnd_document.group_no = #{group_no}
	and
		bnd_document.member_id=#{member_id}
	</update>

	
	<!-- 1개의 글을 삭제위한 메소드입니다. -->
	<delete id="deleteDocumentOne" parameterType="document">
		delete from
		bnd_document
		where 
		bnd_document.document_no = #{document_no}
		and
		bnd_document.member_id = #{member_id}
	</delete>


</mapper>
