<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.binder.dao.PhotoMapper">

	<!-- public int photoInsert(Photo photo); -->
	<insert id="photoInsert" parameterType="photo">
		insert into
			bnd_photo(
					document_no
					,group_no
				 	,photo_originfile
				 	,photo_savedfile
					,photo_no
			)values(
					#{document_no}
					,#{group_no}
				 	,#{photo_originfile}
				 	,#{photo_savedfile}
					,bnd_photo_no_seq.nextval
			)
	</insert>
</mapper>
