<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.binder.dao.PhotoMapper">

	<!-- public int photoInsert(Photo photo); -->
	<insert id="photoInsert" parameterType="photo">
		insert into
			bnd_photo(
					document_no
					,group_no
				 	,photo_originfile
				 	,photo_savedfile
					,photo_no
			)values(
					#{document_no}
					,#{group_no}
				 	,#{photo_originfile}
				 	,#{photo_savedfile}
					,bnd_photo_no_seq.nextval
			)
	</insert>
	
	
	<!-- 3.  readDocument.jsp로 사진을 보내는등에 사용합니다. -->
	<select id="selectPhotoOne" parameterType="int" resultType="photo">
	 	select
	   		 bnd_photo.photo_savedfile          photo_savedfile			
		from
		    bnd_document, bnd_photo
		where
			bnd_document.document_no = #{document_no}
		and
		    bnd_photo.document_no  =  #{document_no}
	</select> 
	
	
</mapper>
