<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.binder.dao.ReplyMapper">
<select id="selectReply" parameterType="int" resultType="reply">
	select 
		reply_no,
		reply_content,
		member_id,
		reply_regdate
	from
		bnd_reply
	where
		document_no = #{document_no}
	order by reply_regdate desc
</select>

<insert id="insertReply" parameterType="reply">
	insert into bnd_reply(reply_no, document_no, reply_content, member_id)
	values(
		bnd_reply_no_seq.nextval
		,#{document_no}
		,#{reply_content}
		,#{member_id}
		)
</insert>

<update id="updateReply" parameterType="reply">
	update bnd_reply
	set
		reply_content = #{reply_content}
	where
		reply_no = #{reply_no}

</update>

<delete id="deleteReply" parameterType="reply">
	delete from bnd_reply
	where
	reply_no = #{reply_no}

</delete>

<select id="totalCount" parameterType="int" resultType="int">
select
	count(reply_no)
from
	bnd_reply
where
	document_no = #{document_no}

</select>


</mapper>
