#gaibu {
    display:flex;
    padding:0 200px;
    margin: 0 auto;
    height:inherit;
}

#gaibu-top-left{
    margin-top:10px;
    margin-left:200px;
    height:50px;
}

#gaibu-top-right{
    text-align:right;
    margin-top:15px;
    margin-right:200px;
    height:50px;
    width:100%;
}

#document-body {
    width:97%;
    height:inherit;
    margin: 0 10px 20px 10px
}