 #app1{
 	float:left;
 	margin:0px 15px 0px 15px;
 }
 #app2{
 	float:left;
 	margin:0px 10px 0px 10px;
 }
 #app3{
 	float:left;
 	margin:3px 15px 0px 15px;
 }
 .GroupMemberList {
	witdh : 200px;
	height : 200px;
	display:inline;
	background : red;
	}
 .Management {
 	witdh : 200px;
	height : 200px;
	display:inline;
	background : blue;
 }
 #subManagerIcon{
 	cursor:pointer;
 	
 				
 }
 #commonMemberIcon{
 	cursor:pointer;
 	
 }
 #deleteMemberIcon{
 	cursor:pointer; 	
	
}

#subManagerIcon .tipBody {
    background-color: black;
    padding: 8px;
}