.reply {
	padding : 25px;
    background-color: white;
    width:100%;
    border-top: 1px dotted black;
}
#replyTable {
	margin-top:15px;
}
.replyContent{
	height: 2.3em;
    background-color: #dcdcdc;
    color: black;
    width: 70%;
    border-radius: 25px;
    padding-left: 1em;
    vertical-align: middle;
    border:1px solid #dcdcdc;
	
}
.replyDiv{
	margin-top : 10px;
}
.replyDivEnd{
	margin-bottom : 10px;
}
.replyContent:focus{
	outline : none;
}
#replyInput:focus {
	outline : none;
}

a.replyUpdate{
	margin-left: 5px;
	margin-right: 5px;
	color:blue;
}
a.replyUpdate:link {
	color:blue;
	}
a.replyDelete:link {
	color:blue;
	}
a.replyDelete {
	margin-left: 5px;
	margin-right: 5px;
	color:blue;
	}
.replyMemberId{
	margin : 5px;
	padding :2px;
	width: auto;
	height : auto;
}

#replyP{
	font-size : 70%;
	color : gray;
	padding-left: 1em;
}
#replyInput{
    width: 450px;
    border-radius: 20px;
    height: 2em;
    padding-left: 1em;
}
.replyId{
	font-size: 130%;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pagingDiv{
	text-align : center;
    margin-top: 1em;
    font-size: 120%;
}
.replyNowPage{
	font-weight: bold;
}
.replyPageAtag{
	font-size : 90%;
	color : #eee;
}

#replyEditId{
	
	font-size: 130%;
}

#replyTitle{
	font-size : x-large;
	color:#1DD1AD;
	margin: 5px;
}
.editDiv{
	margin-top:5px;
	padding-left : 5px;
}
#editPtag{
    font-size: 70%;
    color: gray;
    padding-left: 1em;
    
}

.replyUpdate{
	margin-left: 10px;
    cursor: pointer;
    color: blue;
}
.editReply{
	margin-left: 10px;
    cursor: pointer;
    color: blue;
}
.replyDelete{
    cursor: pointer;
    color: blue;
}
.cancleReply{
    cursor: pointer;
    color: blue;
}
